<div id="aboutUsSubDiv">
	<div class="we-are-div">
		<p>We Are</p>
		<div class="we-are-content">
			---------------------some contents here-------------------
			---------------------some contents here-------------------
			---------------------some contents here-------------------
			---------------------some contents here-------------------
		</div>
	</div>
	<div class="achievements-div">
		<p>Achievements</p>
		<div class="achievements-content">
			---------------------some contents here-------------------
			---------------------some contents here-------------------
			---------------------some contents here-------------------
			---------------------some contents here-------------------
		</div>
	</div>
</div>