<div id="gallerySubDiv" class="galley-sub-div">
	<div class="image-continer row-fluid">
		<div class="thumb1 span3">
			<img src="images/angel.bmp" />
		</div>
		<div class="thumb2 span3">
			<img src="images/angel.bmp" />
		</div>
		<div class="thumb3 span3">
			<img src="images/angel.bmp" />
		</div>
		<div class="thumb4 span3">
			<img src="images/angel.bmp" />
		</div>
		<div class="thumb1 span3">
			<img src="images/angel.bmp" />
		</div>
		<div class="thumb2 span3">
			<img src="images/angel.bmp" />
		</div>
		<div class="thumb3 span3">
			<img src="images/angel.bmp" />
		</div>
		<div class="thumb4 span3">
			<img src="images/angel.bmp" />
		</div>
	</div>
</div>