<div id="headerSubDiv" class="header-sub-div">
	<div id="comLogo" class="com-logo">
		<a href="#">
			<img src="images/Shop_logo_homepage.png" />
		</a>
	</div>
	<div id="navItems" class="nav-items">
		<div id='cssmenu'>
		  <ul>
		     <li class='active'><a href='#'>Home</a></li>
		     <li><a href='#services' class="serv">Services</a>
		        <!-- <ul>
		           <li><a href='#services/item1' class="serv1">Service 1</a></li>
		           <li><a href='#services/item1' class="serv1">Service 2</a></li>
		        </ul> -->
		     </li>
		     <!-- <li><a href="#products">Products</a></li> -->
				<!-- <ul>
					<li><a href="#product1">Product 1</a></li>
				</ul> -->	
		     <!-- <li><a href='#s'>About</a></li> -->
		     <li><a href='#contact'>Contact</a></li>
		  </ul>
		</div>
	</div>
	<div id="sliderDiv" class="slider"></div>
</div>