<div id="divHomeSub" class="div-home-sub-div">
	<div id="imageHomeDiv" class="image-home-div"></div>	
	<div id="homeContent" class="home-content">
		<p class="about-us-p">About Us</p>
		<div id="aboutUsDetail" class="about-us-detail">
			----------------some contents here----------------------some<br>
			----------------some contents here----------------------some<br>
			----------------some contents here----------------------some
			<p><button class="btn btn-primary">more ...</button></p>
		</div>
		<div class="image-1-div">
			<img src="images/bus.jpg" class="image-1"/>
		</div>
		<p class="gallery-p">Gallery</p>
		<div class="gallery-detail">
			----------------some contents here----------------------some<br>
			----------------some contents here----------------------some<br>
			----------------some contents here----------------------some
			<p><a href="#gallery"><button class="btn btn-primary">view images</button></a></p>
		</div>
		<div class="image-2-div">
			<img src="images/train.jpg" class="image-2"/>
		</div>
		<p class="content-p">content</p>
		<div class="content-detail">
			----------------some contents here----------------------some<br>
			----------------some contents here----------------------some<br>
			----------------some contents here----------------------some
			<p><button class="btn btn-primary">more ...</button></p>
		</div>
		<div class="image-3-div">
			<img src="images/flight.jpg" class="image-3"/>
		</div>
	</div>
</div>

    

<!-- - See more at: http://www.w3resource.com/twitter-bootstrap/carousel-tutorial.php#sthash.ReTBGb9F.dpuf -->