<div id="servicesSubDiv">
	<div class="inside-service-header">
		<ul>
			<a href="#busDetails"><li>BUS</li></a>
			<a href="#trainDetails"><li>TRAIN</li></a>
			<a href="#flightDetails"><li class="flight-li">FLIGHTS</li></a>
		</ul>
	</div><br>
	<div id="servDetail" class="serv-details">
		<a name="busDetails" class="bus-details-link">BUS DETAILS</a>
		<div class="divi1">
			-------------------------- -------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------
		</div>
		<a name="trainDetails" class="train-detail-link">TRAIN DETAILS</a>
		<div class="divi2">
			-------------------------- -------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------
		</div>
		<a name="flightDetails" class="flight-detail-link">FLIGHT DETAILS</a>
		<div class="divi3">
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------<br>
			-------------------------- -------------------------- --------------------------
		</div>
	</div>
</div>